*.csv
*.pem
*.crt
*.key

src/graphs/*.pdf
src/graphs/*.html

.vscode/
liboqs/
liboqs-go/

# Local development dirs/files
temp_client/
temp_server/
temp_root/
temp_gen_root/
temp_bench/
clean.sh
debug.sh

vm_script.sh