module hybrid_server_kemtls

go 1.16

//require github.com/go-echarts/go-echarts/v2 v2.2.4
//require gonum.org/v1/plot/ v0.10.0

require (
	github.com/go-echarts/go-echarts/v2 v2.2.4 // indirect
	github.com/open-quantum-safe/liboqs-go v0.0.0-20220105163900-e0f759d70fa5 // indirect
	gonum.org/v1/plot v0.10.0 // indirect
)
